﻿@addTagHelper *, view-component
@{
    ViewData["Title"] = "Home Page";
}


@await Component.InvokeAsync("MyTimer")
<br />
<vc:My-Timer include-seconds=true format24=false/>

<br />

@await Component.InvokeAsync("UsersList")
<br />
<vc:users-list />
