﻿@model LoginViewModel

<form>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br /><br />

    <br />before submit <br />

    <input type="text"
           data-val="true"
           data-val-required="The Email field is required."
           id="Email"
           name="Email"
           value="">
    <span class="field-validation-valid"
          data-valmsg-for="Email"
          data-valmsg-replace="true">
    </span>

    <br />after submit<br />

    <input type="text"
           data-val="true"
           data-val-required="The Email field is required."
           id="Email"
           name="Email"
           value=""
           class="input-validation-error"
           aria-describedby="Email-error"
           aria-invalid="true">

    <span class="field-validation-error"
          data-valmsg-for="Email"
          data-valmsg-replace="true">

        <span id="Email-error"
              class="">
            The Email field is required.
        </span>
    </span>
    <br /><br />

    <input type="submit" value="Submit" />
</form>