﻿@model List<http_accessor.Controllers.InfoViewModel>

@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 4; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Description)
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
@*<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 4; i < Model.Count; i++)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => Model[i].Description)
                    </td>
                </tr>
        }
    </tbody>
</table>*@
