﻿@model PersonModel

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: red;
    }
</style>
<form method="post" asp-controller="Home" asp-action="Index">
    <table>
        <tr>
            <td><input asp-for="TermsConditions" type="checkbox" /></td>
            <td><label asp-for="TermsConditions"></label></td>
        </tr>
        <tr>
            <td></td>
            <td><span asp-validation-for="TermsConditions" class="error"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
@section Scripts{
    <script type="text/javascript">
        (function ($) {
            $.validator.unobtrusive.adapters.addBool("checkboxrequired", "required");
        }(jQuery));
    </script>
}
