﻿@model TwoFactAuth.Models.HomeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form method="post" asp-action="Index" asp-controller="Home">
    
    <input asp-for="Email" />
    <br />
    <input asp-for="QrCodeUrl" />
    <img src="@Model.QrCodeUrl" />
    <br />
    <input asp-for="AuthCode" />
    <br />
    <input asp-for="SecretKey" />
    <br />
    <input asp-for="GoogleKey" type="text"/>
    <button type="submit">Submit</button>
</form>

