﻿@using mvc_pagination
@using mvc_pagination.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Student>

@{
    ViewData["Title"] = "Home Page";
}
<link  />
<div>
    <input type="hidden" name="Page" id="pagination-page" value="1" />
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Name
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>
                        @student.Id
                    </td>
                    <td>
                        @student.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div>
        @Model.Count  of @Model.TotalItemCount
    </div>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: dimgray;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li span {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111111;
        }
</style>